p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    /* This style below will be inherited */
    font-family: Roboto, Arial;
    margin: 0;
    padding-top: 110px;
    padding-right: 24px;
    padding-left: 96px;
    background-color: rgb(1, 1, 66);
}

